.app-modal {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;

  &__stick {
    position: sticky;
    top: 0;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.5);

    display: grid;
    place-items: center;
  }

  &__cover {
    background: #fff;
    overflow: hidden;
    overflow-y: auto;
    position: relative;

    @include gray-scrollbar();

    &-delay {
      animation-delay: 0.3s !important;
    }
  }

  &--auto {
    .app-modal__cover {
      max-width: 90%;
      max-height: 90vh;
    }
  }

  &--sm {
    .app-modal__cover {
      width: 90%;
      min-height: 35vh;
      max-height: 40vh;
    }
  }

  &--md {
    .app-modal__cover {
      width: 90%;
      min-height: 50vh;
      max-height: 60vh;
    }
  }

  &--lg {
    .app-modal__cover {
      width: 90%;
      min-height: 70vh;
      max-height: 80vh;
    }
  }

  &--full {
    .app-modal__cover {
      width: 100%;
      min-height: 100vh;
      max-height: 100vh;
    }
  }

  &__header {
    width: 100%;
    position: relative;
    height: toRem(50);
    padding: 0 toRem(20);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: toRem(18);
    color: $color-text;
  }

  &__close-btn {
    position: absolute;
    top: 50%;
    right: toRem(20);
    transform: translateY(-50%);
  }

  &__icon {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__content {
    width: 100%;

    display: grid;
    place-items: center;

    overflow: hidden;
    overflow-y: auto;

    @include gray-scrollbar();

    &--sm {
      min-height: calc(35vh - 80px);
      max-height: calc(40vh - 80px);
    }

    &--md {
      min-height: calc(50vh - 170px);
      max-height: calc(60vh - 170px);
    }

    &--lg {
      min-height: calc(70vh - 170px);
      max-height: calc(80vh - 170px);
    }

    &--full {
      min-height: calc(100vh - 170px);
      max-height: calc(100vh - 170px);
    }
  }

  &__footer {
    width: 100%;
    height: toRem(80);
    padding: toRem(20) toRem(20);
    background: inherit;

    display: flex;
    place-items: center;
    place-content: center;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
  }
}

@include breakpoint-up(md) {
  .app-modal {
    &--sm {
      .app-modal__cover {
        width: 35%;
        min-height: 35vh;
        max-height: 40vh;
      }
    }

    &--md {
      .app-modal__cover {
        width: 50%;
        min-height: 50vh;
        max-height: 60vh;
      }
    }

    &--lg {
      .app-modal__cover {
        width: 70%;
        min-height: 70vh;
        max-height: 80vh;
      }
    }

    &--full {
      .app-modal__cover {
        width: 100%;
        min-height: 100vh;
        max-height: 100vh;
      }
    }
  }
}
