.client-card {
  width: 100%;
  background: $brand-white;
  overflow: hidden;
  border-radius: toRem(8);
  @include boxShadow(md, #000);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  &__body {
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: toRem(68);
    height: toRem(68);
    overflow: hidden;
    border-radius: 50%;

    display: grid;
    place-items: center;
  }

  &__btn {
    box-shadow: none !important;
  }
}
