.client-card {
  width: 100%;
  background: $brand-white;
  overflow: hidden;
  cursor: pointer;
  border-radius: toRem(8);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;

  &:hover,
  &:focus {
    @include boxShadow(default, #000);
  }

  &__body {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__content {
    display: grid;
    place-items: flex-start;
  }

  &__avatar {
    width: toRem(68);
    height: toRem(68);
    overflow: hidden;
    border-radius: 50%;

    display: grid;
    place-items: center;
  }

  &__btn {
    box-shadow: none !important;
  }

  &__circle {
    cursor: pointer;
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    background: transparent;

    display: grid;
    place-items: center;

    position: absolute;
    top: toRem(20);
    right: toRem(20);

    &:hover,
    &:focus {
      @include boxShadow(sm, #000);
      background: $brand-tonic-lighter;
    }
  }

  &__circle-trash {
    cursor: pointer;
    width: auto;
    height: toRem(36);
    border-radius: 50%;
    background: $brand-tonic-lighter;


    display: grid;
    place-items: center;

    position: absolute;
    top: toRem(20);
    right: toRem(20);
    transition: 0.3s transform ease-in-out;

    &:hover,
    &:focus {
      transform: scale(1.05);
      @include boxShadow(sm, #000);
    }
  }
}
